body{
    background:url("foto.jpg") no-repeat top center;
    background-size: 500px 600px;
    
}
.texto{
    background: rgba(255, 255, 255, 0.4);
    border: solid;
    font-family: "arial";
    font-size: 200%;
    margin: 0 auto;
    padding: 2em;
    width: 30%;
}